.content-wrapper {
    min-height: 300px;
    padding-top: 85px;
    padding-bottom: 50px;
    .breadcrumb {
        color: black;
        margin-top: 20px;
        font-size: 16px;
        a {
            color: black;
        }
    }
}

.banner-block-top {
    background: transparent url('../images/news-banner-bg.jpg')no-repeat 0 0;
    background-size: cover;
    display: flex;
    height: 360px;
    text-align: center;
    color: white;
    align-items: center;
    margin-bottom: 45px;
    h2 {
        font-size: 36px;
        font-weight: 400;
    }
    p {
        max-width: 60%;
        display: inline-block;
        font-size: 16px;
        line-height: 30px;
    }
}

.content-more-btn {
    border: 1px solid #189DAB;
    padding: 10px 26px;
    border-radius: 30px;
    width: 200px;
    color: #189DAB;
    &:hover {
        color: rgb(0, 86, 94);
    }
}

// 文章內頁
.post-wrapper {
    background-color: white;
    padding: 90px 100px 50px;
    min-height: 500px;
    @media (--mobile) {
        padding: 50px 20px 40px;
    }
    .social-share {
        min-height: 100px;
    }
    .post-content {
        font-size: 18px;
        line-height: 30px;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        color: #444444;
        p {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 30px;
            text-align: justify;
        }
    }
}

// 會訊專刊內頁
.issue-list {
    .issue-list-item {
        background: rgba(24, 159, 171, 0.05);
        padding: 5px 20px;
        margin-bottom: 20px;
        h3 {
            font-size: 16px;
            color: #189DAB;
            margin-bottom: 15px;
        }
        ul {
            li {
                display: inline-flex;
                width: 48%;
                padding-left: 5px;
                margin: 6px 0;
                @media (--mobile) {
                    width: 100%;
                }
                a {
                    color: #0e0e0e;
                    &:hover {
                        color: #189DAB;
                        text-decoration: underline;
                    }
                }
                &::before {
                    content: "→";
                    margin-right: 3px;
                }
            }
        }
    }
}


// 聯絡我們

.contact-us{
    background: transparent url('../images/contact-bg.jpg')no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 80vh;
    margin-top: 85px;
    display: flex;
    align-items: center;
    background-position: 50%;

    text-align: center;

    h2{
        font-size: 30px;
        margin-bottom: 30px;
    }
    h2,p{
        text-align: center;
        color:white;
    }
    p{font-size: 16px;}
    .contact-info{
        background-color: white;
        padding: 20px;
        color: #333;
        text-align: left;
        width: 450px;
        margin: 40px auto;
        border-radius: 5px;

        @media (--mobile){
            width: 100%;
        }
        ul{
            margin: 0;
            li{
                margin: 8px 0;
                font-size: 16px;
                span{
                    font-weight: bold;
                }
            }
        }
    }
}


// 關於教授

.banner-about-professor{
    background: transparent url('../images/professor-banner-bg.jpg')no-repeat 0 0;
    background-size: cover;
    display: flex;
    height: 480px;
    color: white;
    align-items: center;
    margin-bottom: 45px;
    h2 {
        font-size: 36px;
        font-weight: 400;
        line-height: 50px;
        span{
            font-size: 24px;
            position: relative;
            top: -3px;
            left: 9px;
        }
    }
    p {
        max-width: 90%;
        display: inline-block;
        font-size: 16px;
        line-height: 30px;
    }
}
.article-content{
    margin-top: 30px;

    strong{
        font-size: 20px;
        color: #189DAB;
        display: inline-block;
    }

    h3{
        font-size: 32px;
        margin: 20px 0 20px;
    }
    p{
        font-size: 14px;
        line-height: 32px;
    }
}
.article-content-img{
    img{
        width: 80%;
    }
}