.landing-wrapper {
    min-height: 300px;
    padding-top: 140px;
    padding-bottom: 50px;
}

// Hero選單
.Hero {
    position: relative;
    .carousel-sidebar {
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        @media (--pad){
            display: none;
        }
        @media (--mobile){
            display: none;
        }
    }
    .carousel-inner {
        border-radius: 5px 0 0 5px;
        @media (--mobile){
            border-radius: 5px;
        }
    }
}

.carousel {
    min-height: 200px;
    margin-bottom: 15px;
}

.carousel-indicators {
    margin-left: -74%;
    bottom: 6px;
    @media (--pad){
        margin-left: -70%;
    }
    @media (--mobile){
        margin-left: -65%;
    }
    .active {
        width: 24px;
        height: 24px;
        margin: 0;
        background-color: #189DAB;
        color: white;
    }
}

.carousel-indicators li {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: white;
    text-indent: 0;
    line-height: 22px;
}

.carousel-nav {
    padding: 10px 15px;
    width: 340px;
    height: 100px;
    cursor: pointer;
    display: flex;
    background-color: white;
    align-items: center;
    position: relative;
    &:first-child {
        border-radius: 0 5px 0 0;
    }
    &:last-child {
        border-radius: 0 0 5px 0;
    }
    .carousel-item-date {
        display: inline-block;
        width: 30%;
        .item-year {
            display: block;
            position: relative;
            top: 5px;
        }
        b {
            font-size: 20px;
            margin: 0px;
            font-weight: normal;
            position: relative;
            left: -1px;
        }
    }
    .carousel-item-info {
        display: inline-block;
        width: 65%;
        font-size: 16px;
    }
}

.active-p {
    background: #189DAB;
    color: #fff;
    &::after {
        content: "";
        width: 0;
        height: 0;
        left: -13px;
        position: absolute;
        border-style: solid;
        border-width: 15.5px 17px 15.5px 0;
        border-color: transparent #189DAB transparent transparent;
    }
}

// 會訊專刊

.landing-media-block{
    margin-top: 40px;
}

.landing-heading{
    font-size: 32px;
    margin-bottom: 30px;
    display: inline-block;
    span{
        display: block;
        font-size: 14px;
        margin-top: 15px;
    }
}

.landing-more-btn{
    border: 1px solid #189DAB;
    padding: 10px 22px;
    border-radius: 30px;
    position: absolute;
    top: 24px;
    right: 15px;
    &:hover{
        color:#333;
    }
}



// 首頁-會訊專刊

.landing-card-list{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    @media (--mobile){
        display: inline-block;
    }

    .landing-card-item{
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        display: inline-flex;
        flex-wrap:wrap;
        margin-bottom: 40px;
        flex-direction:column;
        width: calc(100% * 1/3 - 30px);
        width: -moz-calc(100% * 1/3 - 30px);
        width: -webkit-calc(100% * 1/3 - 30px);
        @media (--pad){
            width: calc(100% * 1/3 - 10px);
            width: -moz-calc(100% * 1/3 - 10px);
            width: -webkit-calc(100% * 1/3 - 10px);
        }
        @media (--mobile){
            width: 100%;
            margin: 0 0 20px;
            float: none;
            display: inline-block;
        }
    }

    .landing-card-img{
        height: 220px;
        background-size: cover;
        @media(--pad){
            height: 150px;
        }
    }
    .landing-card-info{
        padding: 25px 25px 0;

        .info-date{
            font-size: 16px;
            color:black;
        }
        .info-text{
            h4{
                font-size: 24px;
                margin: 26px 0;
                color:black;
            }
            p{
                font-size: 16px;
                color: #7d7d7d;
                line-height: 27px;
                overflow: hidden;
                height: 190px;
            }
        }
    }
    .landing-tag-block{
        padding: 20px 25px;
        margin: 18px 0;
        .landing-tag-list{

            .landing-tag{
                float: left;
                margin: 0 10px 0 0;
                background-color: #189DAB;
                padding: 1px 5px;
                border-radius: 3px;
                a{
                    color:white;
                }
            }
        }
    }
    
}


// 活動花序

.landing-grid-thumbnail{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-bottom: 40px;
 
    .thumbnail-item{
        a{
            color:white;
        }
        height: 220px;
        margin: 10px 0;
        width: calc(100% * 1/3 - 14px);
        width: -moz-calc(100% * 1/3 - 14px);
        width: -webkit-calc(100% * 1/3 - 14px);
        background-size: cover;
        border-radius: 5px;
        overflow: hidden;
        position: relative;

        @media (--mobile){
            width: 100%;
            margin: 0 0 20px;
            float: none;
            display: inline-block;
        }

        &::after{
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(-180deg, rgba(0,0,0,0.30) 67%, rgba(0,0,0,0.90) 100%);
        }
    }

    .thumbnail-content{
        position: absolute;
        z-index: 10;
        padding: 22px;
        bottom: 0;
        .thumbnail-date{
            margin-bottom: 10px;
            font-size: 16px;
        }
        .thumbnail-text{
            font-size: 16px;
        }
    }
}



.CTA-block-bottom{
    background: transparent url('../images/landing-bottom-cta.jpg')no-repeat 0 0;
    background-size: cover;
    display: flex;
    height: 360px;
    text-align: center;
    color: white;
    align-items: center;

    h2{
        font-size: 36px;
        font-weight: 400;
        line-height: 48px;
    }
    p{
        max-width: 60%;
        display: inline-block;
        font-size: 16px;
        line-height: 30px;
        @media (--pad){
            max-width: 70%;
        }
    }
    


    .cta-large-btn{
        border: 1px solid white;
        padding: 13px 20px;
        border-radius: 30px;
        color: white;
        font-size: 16px;
        display: inline-block;
        width: 230px;
        position: relative;
        margin-top: 20px;

        i{
            float: right;
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
    
}